body {
    font-family: Arial;
    background: #f4f6f9;
    text-align: center;
}

.navbar {
    background: #1f3c88;
    color: white;
    padding: 15px;
}

.container {
    margin-top: 50px;
}

textarea {
    width: 60%;
    height: 200px;
    padding: 10px;
}

button {
    padding: 10px 20px;
    background: #1f3c88;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #163172;
}